<?xml version="1.0"?>
<launch>

    <arg name="robot_x"   default="1.0" />
    <arg name="robot_y"   default="0.0" />
    <arg name="robot_yaw" default="1.0" />
    <arg name="paused" default="false" doc="Starts gazebo in paused mode" />

    <!-- startup simulated world -->
        <include file="$(find gazebo_ros)/launch/empty_world.launch">
            <arg name="world_name" default="worlds/empty.world"/>
            <arg name="paused" value="$(arg paused)"/>
        </include>

    <!-- send robot urdf to param server -->
        <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find mobile_manipulator)/urdf/_mobile_manipulator.urdf.xacro'" />
   
    <!-- push robot_description to factory and spawn robot in gazebo -->
        <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model Mobile_Manipulator -x $(arg robot_x) -y $(arg robot_y) -Y $(arg robot_yaw)" respawn="false" output="screen" />
    

    <!-- To Control the Arm of the Robot With rqt joint trajectory controller comment this part out-->
    <!-- Robot state publisher -->
        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
            <param name="publish_frequency" type="double" value="50.0" />
        </node>
    

    <!-- Load joint_state_controller -->
        <rosparam file="$(find mobile_manipulator)/config/controller/joint_state_controller.yaml" command="load"/>
    <!-- Start joint_state_controller -->
        <node name="joint_state_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn joint_state_controller" respawn="false" output="screen"/>
    
    
    <!-- Load the controllers -->
        <rosparam file="$(find mobile_manipulator)/config/controller/mobile_manipulator_controller.yaml" command="load"/>

    <!-- Start the controllers -->
        <node name="mir_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn MiR/controller" respawn="false" output="screen"/>
        <node name="ur10_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn UR10/controller" respawn="false" output="screen"/>


    <!-- Steer MiR -->
        <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
            <param name="default_topic" value="/MiR/controller/cmd_vel"/>
            <param name="default_vx_max" value="1.0" />
            <param name="default_vx_min" value="-1.0" />
            <param name="default_vw_max" value="1.5" />
            <param name="default_vw_min" value="-1.5" />
        </node>
    
    
</launch>