<?xml version="1.0"?>
<launch>


    <!-- send robot urdf to param server -->
        <param name="robot_description" textfile="$(find mobile_manipulator)/urdf/mobile_manipulator.urdf"/>    
        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    
</launch>